.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c5bf36; /* Similar background color */
    padding: 10px 20px;
        font-size: 14px;
}

.welcome-message p {
    font-size: 14px;
    color: white;
    font-family: Arial, sans-serif;
    margin:auto
}

.account-icons {
    display: flex;
    align-items: center;
}

.icon-group {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.icon {
    color: white;
    font-size: 14px;
    margin-right: 5px;
}

.icon-count {
    background-color: red;
    border-radius: 16px;
    padding: 6px;
    font-weight: bold;
}

.my-account {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.account-text {
    margin-left: 5px;
}


/* -------------- */
.welcome{
    background-color: var(--color-yellow);
    height: 50px;

}
.navbar .Delivery , .cal{
    /* background:#e4ecec;
    border: 1px dotted #bfb521;
    border-radius: 8px;
    padding:3px; */

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 102, 100, 0.12);
    padding: 6px 17px;
    border-radius: 8px;
    border: 1px dashed #bfb521;
    cursor: pointer;
    font-size: 14px;

}



/* -------------------------------------------------------------------------- */
/*                                     nav                                    */
/* -------------------------------------------------------------------------- */
.my-nav {
    padding:0 7%;
}
.my-nav li{
    font-weight: 800;
    font-size: 13px;
}
.navbar .Delivery h6{
    font-size: 14px;
    font-weight: 400;
    color: #777;
    line-height: 24px;
}

.secondSlider{
    width: 100%;
    height: 200px;
    background-color: #bfb521;
}


@media (max-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .cal,.navbar-brand{
        display: none;
    }
}

  