.bestSale{
    /* padding: 70px; */
}


.bestSale .mainPic{
    height: 390px;
    
}
.bestSale .mainPic img{
    width: 100%;
    /* background-image: url('./'); */
}

.bestSale .slider2{
    height: 390px;
    }


/* swiper  */
.carousel-container {
    width: 100%;
    margin: 0 auto; 
    height: 100%;
    }

.bestSale img{
    width: 100%;
    height: 100%;
    }


.pestSale-container{
    width: 100%;
}
.inlineDetails{

display: flex;
justify-content: space-around;
align-items: center;
padding: 10px;
}